<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM EKYAM | WEB PAGE</title>
    <link rel="stylesheet" href="/static/home2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!--navbar section-->
    <nav class="navbar" style="background-color:#fffddb;">
        <div >
            
              <h2>TEAM EKYAM</h2>
             

        </div>
    </nav>

    <!--<div class="headerlogo">
    <img src="img/logos/headerlogo.png" class="header_img" alt="" />
    </div>-->
    <!--hero section-->
    <div class="hero" id="home">
        <div class="hero__content ">
            <h1 class="animate-hero">EKYAM</h1>
            <p class="animate-hero">Cultural Crew <br/> JNNCE, Shivamogga</p>

            <img src="/static/img/landscape/IMG_0982.JPG" alt="" class="slideshow-img">
            <img src="/static/img/landscape/20191108_175118.jpg" class="slideshow-img ">
            <img src="/static/img/landscape/DSC_0088.JPG " alt=" " class="slideshow-img ">
            <img src="/static/img/landscape/IMG-20210215-WA0025.jpg " alt=" " class="slideshow-img ">
            <img src="/static/img/landscape/IMG-20220606-WA0006.jpg " alt=" " class="slideshow-img ">
            <img src="/static/img/landscape/IMG_0679.JPG " alt=" " class="slideshow-img ">
            <img src="/static/img/landscape/IMG_0741.JPG " alt=" " class="slideshow-img ">
            <img src="/static/img/grp/WhatsApp Image 2022-06-05 at 12.21.36 PM (1).jpeg " alt=" " class="slideshow-img ">
        </div>
    </div>


    <!--Team section-->
    <div class="team " id="about ">
        <div class="team__wrapper ">

            <div class="team__text animate-team ">
                <p class="topline "> </p>
                <h1 class="includes ">Our <span class="word ">EKYAM</span> includes 5 Art Forms</h1>
                <p class="team__desc ">
                    <ul class="b ">
                        <li>Art</li>
                        <li>Dance</li>
                        <li>Literary</li>
                        <li>Music</li>
                        <li>Theater</li>
                    </ul>
                </p>
            </div>
            <div class="team__text animate-team "style="text-align:justify">
                <p class="topline "></p>
                <h1 class="includes "> Our team <span class="word ">EKYAM </span> provides </h1>
                <p class="team__desc ">
                    opportunity to participate at the university level. The entire experience is enriching and plays a unique role in JNNCE’s efforts to go beyond academics.<span class="letter ">A very heartening note about Team EKYAM is</span> that most
                    participants are distinction holders proving that extracurricular activities do not come in the way of good academic performance.
                </p>
            </div>
            <div class="team__card animate-team ">
                <p>Art</p>
                <img src="/static/img/art/IMG_0355.JPG " alt=" " class="team__img ">
            </div>
            <div class="team__card animate-team ">
                <p>Dance</p>
                <img src="/static/img/dance/IMG_0876.JPG " alt=" " class="team__img ">
            </div>
            <div class="team__card animate-team ">
                <p>Literary</p>
                <img src="/static/img/literary/WhatsApp Image 2022-06-05 at 12.49.39 PM.jpeg " alt=" " class="team__img ">
            </div>
            <div class="team__card animate-team ">
                <p>Music</p>
                <img src="/static/img/music/IMG_0387.JPG " alt=" " class="team__img ">
            </div>
            <div class="team__card animate-team theater ">
                <p>Theater</p>
                <img src="/static/img/theater/imgtheater.jpeg " alt=" " class="team__img ">
            </div>


        </div>
    </div>
    <!--about section-->
    <div class="services " id="Highlights ">
        <div class="services__container ">
            <div style="text-align:justify">
                <p class="topline animate-services "></p>
                <h1 class="services__heading animate-services ">Highlights:</h1>
                <div class="services__features ">
                    <p class="services__feature animate-services "><i class="fas fa-check-circle "></i>In 2019, Our team won 1 Goldand 18 Silver medals and 4th Position among 98 participated colleges in State Level VTU Youth Festival held at BKIT, Bhalki which was held from 2nd to4th Nov 2018.</p>
                    <p class="services__feature animate-services "><i class="fas fa-check-circle "></i> In 2018, Our team won 4 Gold,10 Silver and 10 Bronze medals and 4th Position among 92 participated colleges in State Level VTU Youth Festival held at Angadi Engineering College Premises, Belagavi,
                        which was held from 11th to 13th April 2018.</p>
                    <p class="services__feature animate-services "><i class="fas fa-check-circle "></i> In 2017, Our Team participated in the VTU Cultural Festival and won 1 Silver and 10 Bronze medal and placing JNNCE in the 6th Position among 95 participated colleges in VTU Youth Festival held at
                        Sir.MVIT Premises, Bangalore, which was held from 16th to 19th March 2017.</p>
                    <p class="services__feature animate-services "><i class="fas fa-check-circle "></i> In 2016, Our Team participated in the VTU Cultural Festival held at Alvas college of engineering, Mudabidri, from 7th to 10th May, 2016 and JNNCE Team EKYAM won the following Medals. 2 Silver Medals
                        and 10 Bronze medal. Our college team was 8th position among 85 Colleges were participated. </p>
                    <p class="services__feature animate-services "><i class="fas fa-check-circle "></i> Besides the VTU fest, our students have bagged many prizes in various inter collegiate cultural festivals organized by engineering and other colleges.</p>

                    <p class="services__feature animate-services "><i class="fas fa-check-circle "></i> Events conducted under Team EKYAM on behalf of JANVEY (3 day JNNCE Annual Cultural Fest) every year.</p>
                    <p class="services__feature animate-services "><i class="fas fa-check-circle "></i> Classical vocal (solo), Western vocal (Solo),Indian group song,Western group song,,Light vocal (solo), Indian Group Dance, Classical dance Contemporary/ Free style, Painting ,Rangoli, Collage ,Debate
                        ,Competition, Photography, Quiz and Mr. And Ms.JANVEY.
                    </p>
                </div>
            </div>


        </div>
    </div>

    <!--Team section-->
    <div class="janvey " id="janveye ">
        <div class="janvey__wrapper ">

            <div class="janvey__text animate-janvey ">
                <h2 class="janvey-e ">Under Team EKYAM</h1>
                    <p class="janvey__topline "> On behalf of</p>
                    <h1 class="janvey__includes "><span class="janvey__word ">JANVEY</span> - Jawaharlal Nehru New college of engineering Variety Entertainment program for Youth</h1>
                    <p class="janvey__desc "> (3 day JNNCE Annual Cultural Fest) every year, variety of events are conducted.</p>
            </div>
            <div class="janvey__card animate-janvey ">
                
                <img src="/static/img/logos/WhatsApp Image 2022-04-18 at 8.51.55 PM.jpeg " alt=" " class="janvey__img ">
            </div>



        </div>
    </div>
    <!--email section-->
    <div class="email " id="sign-up ">
        <div class="email__content ">
            <h1 class="animate-email ">Sign up and get updated!!!</h1>
            <p class="animate-email "></p>
            <form action="# " class="animate-email ">
                <div class="form__wrap ">
                    <label for="email ">
                            <input type="email " placeholder="Enter your email " id="email "/>
                        </label>
                    <button class="button " type="submit ">Sign up</button>
                </div>
            </form>
        </div>
    </div>





    <!--footer section-->
    <div class="footer ">
     <div class="lastline__container animate-footer ">Links EKYAM Students - <a href="/login">Login </a>| <a href="/register"> Register</a></div>
        <h1 class="footer__title animate-footer "><i class="fa fa-copyright icons "></i> Team EKYAM</h1>
        <div class="lastline__container animate-footer ">Developed by | Team EKYAM</div>
    </div>



</body>
<script src="/static/app.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js "></script>
<script src="/static/app1.js "></script>
<script src="/static/app2.js "></script>
<script src="/static/app3.js "></script>
<script src="/static/app4.js "></script>
<script>
    const links = document.querySelectorAll(".navbar__container ul a, .footer__wrapper a ");

    for (const link of links) {
        link.addEventListener("click ", clickHandler);
    }

    function clickHandler(e) {
        e.preventDefault();
        const href = this.getAttribute("href ");
        const offsetTop = document.querySelector(href).offsetTop;

        scroll({
            top: offsetTop,
            behavior: "smooth "
        });
    }
</script>

</html>